/* --------- Resets + Theme ----------- */

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* --------- Header ----------- */

.navbar-brand span{
    font-weight: 700;
}

.navbar-collapse {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    align-items: center;
}

.form-inline {
    display: flex;
}

.form-inline button {
    background-color: #E26276;
    /* border: 1px solid #000; */
    color: #fff;
    font-weight: bold;
    margin: 10px;
}


@media screen and (min-width: 992px){
    .navbar-collapse{
        flex-direction: row;
        justify-content: space-between;
    }

}


/* --------- Landing Page ----------- */

/* --------- Hero Image ----------- */


.hero-img {
    background-image: url(/assets/images/sleepy_baby.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 5%;
}

.hero-img h2 {
    padding-top: 10rem;
    line-height: 1.5;
    font-size: 3rem;
}

.hero-img button {
    background-color: #E26276;
    color: #fff;
    width: 50%;
    font-size: 1.2rem;
    margin-top: 10%;
}


@media screen and (min-width: 500px){
    .hero-img button {
        width: 25%;
    }

}
/* --------- Action Items ----------- */

.action {
    display: flex;
    flex-direction: column;
}


.action-item {
    background-color: #E26276;
    display: flex;
    margin: 1% 0;
    padding: 5%;
}

.action-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.action-item .icon img{
    width: 50%;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
}

.action-item .info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
}

.action-item .info h3 {
    text-align: center;
}

.action-item .info .btn {
    background-color: #fff;
}

.action-item .info .btn a {
    color: #000;
}


@media screen and (min-width: 800px){
    .action {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .action-item {
        margin: 1%;
        padding: 1%;
        flex-direction: column;
        width: 33%;

    }

    .action-item .info {
        width: 70%;
        align-self: flex-end;
        margin-top: 10%;
    }
}



/* --------- Success Story ----------- */

.success .background-img {
    background-image: url(/assets/images/happy_lady.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.success .background-img .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: #fff;
    padding-top: 5%;
}

.success .testimonial {
    font-size: 1.4rem;
}


.success .background-img .btn {
    background-color: #fff;
}

.success .background-img .btn a {
    color: #000;
}

@media screen and (min-width: 800px){
    .success .background-img {
        width: 45%;
        margin: 5%;
        align-items: center;
    }

    .success .background-img .info {
        background-color: #E26276;
        position: relative;
        left: 70%;
        height: 50vh;
        padding: 5%;
    }   
}


/* --------- Success Stories Page ----------- */

/* --------- Title Section ----------- */

.title {
    background-color: #E26276;
    padding: 5%;
    text-align: center;
    color: #fff;
}


/* --------- Stories Section ----------- */

.stories {
    display: flex;
    flex-wrap: wrap;
}

.story {
    display: flex;
    padding: 3%;
    align-items: center;
}

.story.even {
    background-color: #E26276;
    color: #fff;
}

.story p {
    font-size: 1.2rem;
    padding: 1%;
}

.story img {
    width: 30%;
}

@media screen and (min-width: 800px){
    .stories {
        justify-content: center;
        margin: 1%;
    }

    .story {
        width: 30%;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

   .story img {
       width: 50%;
   }


}

/* --------- Footer ----------- */

footer {
    background-color: #E0E0E0;
    padding: 2%;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer nav .links {
    display: flex;
    justify-content: space-evenly;
    
}

footer nav .bottom-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

footer nav a {
    color: #000;
}

@media screen and (min-width: 800px){
    footer nav .bottom-nav {
        padding-top: 2%;
    }
}